<h2>About this site</h2>

<span class="about">

<p>
    Welcome to askingtree.com! As of 2024, we&apos;ve been collecting information about
    Robyn Hitchcock&apos;s work for an astounding 30 years. If you have feedback, such as
    corrections or additional data, we would love to hear from you at
    <a href="mailto:askingtree.com@gmail.com">askingtree.com@gmail.com</a>. The web
    interface was initiated by Bayard Catron and John H. Hedges in 1998. The site is
    currently curated by Marcus Slade and Bayard Catron and our webmaster is Ramsey Shehadeh.
    If you find an online link to our old site at jh3.com, please let the site owner know
    to change to askingtree.com! This version of the site has many times more info and a
    fraction of the errors.

</p>

<p>
    According to our records, Robyn Hitchcock has played <b><%= @stats["song_count"] %></b>
    songs <b><%= @stats["gigset_count"] %></b> total times in <b><%= @stats["gig_count"] %></b> live appearances
    at <b><%= @stats["venue_count"] %></b> venues.
</p>

<br>

<h2>Site History and Acknowledgements</h2>

<p class="date-list">
    <span>1988</span>
    <span>When a dorm-mate puts a mix tape of Robyn Hitchcock songs into a boombox and presses play, the sinister first notes of “St. Petersburg” emerge - the song is yearning, creepy, wistful and funny all at the same time. Young Bayard Catron&apos;s life is changed forever. </span>
</p>
<p class="date-list">
    <span>1991</span>
    <span>woj, then a student at Rutgers university, starts up the fegmaniax email listserv, bringing together a creative and social group of Robyn fans from all over the world. They become friends for life.</span>
</p>
<p class="date-list">
    <span>1994</span>
    <span>Bayard starts collecting Robyn info in the Robyn Hitchcock Song List (™). Mike DeLong (and later and more comprehensively, Jeme Brelin) collect and carefully transcribe Robyn lyrics. Robynbase begins as an MS Access database with automated forms for setlist input.</span>
</p>
<p class="date-list">
    <span>1998</span>
    <span>The first Asking Tree site is launched at jh3.com. The data are sourced from a wide variety of tape traders and vinyl collectors and most especially from <a href="https://www.durianapocalypse.net/robyn/giglist.html">Eddie Tews&apos; online gig list</a> and John Partridge&apos;s massive spreadsheet of his collection.</span>
</p>
<p class="date-list">
    <span>2005</span>
    <span>Roberta Cowan kindly takes on data management duties for a time.</span>
</p>
<p class="date-list">
    <span>2015</span>
    <span>As John H is no longer reachable, The Asking Tree moves to askingtree.com - coincidentally the same year that Robyn moves to Nashville. (Mr Hedges, if you&apos;re out there - please get in touch, brother!)</span>
</p>
<p class="date-list">
    <span>2020</span>
    <span>A massive data update refreshes, corrects and expands the site&apos;s gig information.</span>
</p>
<p class="date-list">
    <span>2021-23</span>
    <span>
        The site adds new features such as media, images, mapping capability and information on live venues. Scott Frank contributes
        an enormous amount of live media via the Internet Archive and YouTube, including the entire Eddie Tews Cassette Vault.
        He also archived important Robyn <a href="https://archive.org/download/lobster_time-4/">radio sessions</a> and
        <a href="https://archive.org/download/Lobster_Time_7">videos</a> for posterity.
    </span>
</p>


<p>We also wish to express our great thanks to all the friends and associates of Mr H who provided information, corrections and memories to help grow and improve our data hoard:</p>

<ol>
    <li>Robert Lamb shared his extremely detailed notes and diaries about the very early days of Dennis and the Experts and the Soft Boys</li>
    <li>Andy Metcalfe shared a comprehensive list of Soft Boys gigs during his tenure with the band, including a plethora of gigs from 1977</li>
    <li>Likewise Kimberley Rew shared his lovely scrapbook detailing his tenure in the Soft Boys</li>
    <li>Morris Windsor chatted with me after a Soft Boys gig in Boston in 2001 and promised that he has a lot of info as well (C&apos;mon Morris! Tell Me About Your Gigs!). Morris has shared some nice bits on Facebook, including a photo from <a href="https://askingtree.com/gigs/3690">this gig at the Portland Arms</a>.</li>
    <li>James A. “The Great One” Smith, Alan “Wang-Bo” Davies, Jim “blues harmonica” Melton, and Chris “Hamburger” Alexander all provided intriguing tidbits of information.</li>
    <li>Matthew Seligman did not necessarily provide info, but was probably the friendliest Soft Boy of all, hanging out with us before and after gigs, taking photos with us and even playing in bands with some of us. We will never forget you, Matthew.</li>
</ol>

<p>Finally, no list of acknowledgements would be complete without expressing appreciation for Robyn Hitchcock, whose music has so enriched our lives for these many decades. Thank you!</p>

<p><i>Bayard Catron</i></p>

<br>

<h2>Other Links for Your Interest</h2>

<p>Not many of these are still active, but preserved for posterity:</p>

<ul>
    <li><a href="http://robynhitchcock.com/">Robynhitchcock.com</a> (official site)</li>
    <li><a href="https://web.archive.org/web/20180716112610/http://www.fegmania.org/">Fegmania.org</a>, by woj</li>
    <li><a href="http://askingtree.com/misc/gh/">The Glass Hotel</a>, by Bayard </li>
    <li><a href="https://durianapocalypse.net/robyn/">Robyn Hitchcock is God, OK?</a> by Eddie Tews (check out the awesome <a href="https://www.durianapocalypse.net/archive/articles.html">News Archive</a>)</li>
    <li><a href="http://fegfotos.com/home.htm">fegFOTOS</a>, by Nick Winkworth</li>
    <li><a href="https://web.archive.org/web/20171025124250/http://home.palmnet.net/~mrrunion/cones.htm">Virtual Cone Museum</a>, by Mike Runion</li>
    <li><a href="https://scruss.com/enterprise.net/fegtickets.html">Ticket Stub Gallery</a>, by Stewart C. Russell</li>
    <li><a href="https://robynhitchcocksongography.weebly.com/">Robyn Hitchcock Song-ography</a>, by Terry (UK)</li>
</ul>

</span>
