// Place all the styles related to the Compositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-list {



}

.albums-page {

  .album-block-header {

    cursor: pointer;

    .glyphicon {
      font-size: 10px;
    }

    .edition-type {
      font-weight: bold;
    }

    &:hover {
      .edition-type {
        text-decoration: underline;
      }
    }

  }

  .album-block-container {

    padding-top: 5px;
    padding-left: 14px;

  }

  .album-art {  
    img {
      // float: right;
      width: 300px;
      height: 300px;
    }
  }

}

.comp-edit-page {

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }

  .row {
    margin-bottom: 10px;
  }

  .comp-image-table {

    width: auto;

    td {
      padding: 20px;
    }

    .image-cell {
      display: table-cell; 
      vertical-align: middle;
    }

  }

}