<div id="map" 
     class="all-venues-map"
     data-controller="map"
     data-map-venues-value="<%= @venues.to_json %>"
     data-map-venue-path-value="<%= venues_path %>"
     data-map-gigs-path-value="<%= gigs_path %>"></div>
